:root{
    --TextColor:#000000;
    --TextMidtone:#9f9f9f;
    --BackgroundColor:#ffffff;
    --BackgroundMidtone:#f4f4f4;
    --HorizontalMargin: 2vw;
    --LogoFilters:none;
    --ScrollbarMargin:2.5vw;
}

html{
    width:100vw !important;
    height:100vh;
}

body{
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    transition: 0.4s;
    display: inline-block;
    overflow-x: hidden;
}

#navbar{
    width: 100vw;
    margin: 0px;
    display: flex;
    font-size: 2em;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logoBox{
    margin-left: var(--HorizontalMargin);
    margin-right: auto;
}

#logo{
    width:10vw;
    filter: var(--LogoFilters);
}

a {
    text-decoration: none;
    color: var(--TextColor);
}

.navItem{
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
}

#themeButton{
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--BackgroundMidtone);
    color:var(--TextMidtone);
}

#themeButtonBox{
    margin-left: auto;
    margin-right: var(--ScrollbarMargin);
    width: 10vw;
    text-align: right;
}

.tagContainer{
    color:black;
}

.Personal{
    color:white;
}
