:root{
    --TextColor:#000000;
    --TextMidtone:#9f9f9f;
    --BackgroundColor:#ffffff;
    --BackgroundMidtone:#f4f4f4;
    --HorizontalMargin: 2vw;
    --LogoFilters:none;
    --ScrollbarMargin:2.5vw;
}

html {
    width: 100vw !important;
    height: 100vh;
}

body {
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    transition: 0.4s;
    display: inline-block;
    overflow-x: hidden;
}

.tagContainer {
    color:black;
}

.Personal {
    color:white;
}