#navbar {
    width: 100vw;
    margin: 0px;
    display: flex;
    font-size: 2em;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logoBox {
    margin-left: var(--HorizontalMargin);
    margin-right: auto;
}

#logo {
    width: 10vw;
    filter: var(--LogoFilters);
}

#themeButton {
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: var(--BackgroundMidtone);
    color:var(--TextMidtone);
}

#themeButtonBox {
    margin-left: auto;
    margin-right: var(--ScrollbarMargin);
    width: 10vw;
    text-align: right;
}

.navItem {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
}

a {
    text-decoration: none;
    color: var(--TextColor);
}